{% extends 'base.html' %}

{% block nav %}

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>

{% endblock nav %}


{% block body %}

    {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="row justify-content-center my-row">
            <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" class="form-control-file" name="file" required>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
        </div>
    </div>
  
{% endblock body %}
